.redbg {
  background-color: #d9928d;
}

.greenbg {
  background-color: #a1d98d;
}

.yellowbg {
  background-color: #d9c88d;
}

.container {
}

.request_card {
  height: 30%;
  border-radius: 30px;
}
.request_card_r {
  width: 50%;
  padding: 10px;
}
.request_card_l {
  width: 50%;
  padding: 10px;
}
