.redbg{
    background-color: D9928D;
}

.greenbg{
    background-color: A1D98D;
}

.yellowbg{
    background-color: D9C88D;
}

.request_card{
    display: flex;
    justify-content: space-between;
    padding: 0% 2.5% 3% 4%;
    border-radius: 20px;
    width: fit-content;
    margin-bottom: 30px;
}

.column{
    display: flex;
    flex-direction: column;
}

.left{
    align-items: flex-start;
}

.right{
    align-items: flex-end;
}

.center{
    align-items: center;
}

.row{
    display: flex;
}

.right_txt{
    text-align: right;
}

.left_txt{
    text-align: left;
    white-space: pre;
}